.container_bookpage{
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 50px;
    width: 100%;
}


.center_bookpage{
    text-align: center;
    font-size: 18px;
    color:#414141;
}
.bookpage_header{
    font-size: 32px;
    color:#414141;
    margin-top: 50px;
    position: relative;
    padding-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bookpage_header .underline_bookpage {
    left: 50%;
    width: 165px;
    bottom: 0;
    height: 2px;
    content: '';
    position: absolute;
    transform: translateX(-50%);
    background-color: #f14d54;
  }

  .add-btn {
    display: flex;
    text-align: right;
    margin-bottom: 10px;
    justify-content: flex-end;
    margin-top: 45px;
    margin-bottom: 32px;
}

.btn.pink_btn {
    background-color: #f14d54;
    color: #fff;
    text-transform: none;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 2px;
    font-weight: 400;
}
.btn.pink_btn:hover {
    background-color: #ec232d;
    color: #fff;
}


.add-btn .btn{
    margin-left: 11px;
}

.MuiTableContainer-root {
    width: 100%;
    overflow-x: auto;
}

.MuiTableBody-root {
    display: table-row-group;
}

.MuiTable-root {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    
}


.MuiTableHead-root {
    display: table-header-group;
}

.MuiTableRow-root {
    color: inherit;
    display: table-row;
    outline: 0;
    vertical-align: middle;
}

.MuiTableCell-root:last-child {
    text-align: right;
    padding-right: 0;
}
.MuiTableCell-head {
    color: #212121;
    font-weight: 500;
    line-height: 1.5rem;
}
.MuiTableCell-body {
    color: #212121;
}
.MuiTableCell-root {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}


.MuiTable-root .edit-btn {
    color: #80BF32;
    border: 1px solid #80BF32;
    height: 30px;
    font-size: 14px;
    min-width: 80px;
    line-height: 30px;
    text-transform: capitalize;
    background-color: transparent;
}

.MuiTable-root .edit-btn:hover{
    background-color: #80BF32;
    color: #fff;
}

.MuiTable-root .delete-btn {
    color: #f14d54;
    border: 1px solid #f14d54;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    min-width: 80px;
    line-height: 30px;
    margin-left: 10px;
    border-radius: 4px;
    text-transform: capitalize;
    background-color: transparent;

    
}

.MuiTable-root .delete-btn:hover{
    background-color: #f14d54;
    color: #fff;
}

.MuiTablePagination-root {
    color: #212121;
    overflow: auto;
    font-size: 0.875rem;
}

.MuiTablePagination-caption {
    flex-shrink: 0;
}
.MuiTypography-colorInherit {
    color: inherit;
}
.MuiTypography-body2 {
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

